
#fire_container{
    position: relative;
    width: 100%;
    height: 400px;
}

#fire_logo{
    
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    width:400px;
    height:500px;
}
html{
    display: inline;
}
body{
    background-color:#152031 ;
    margin: 0;
    display: inline;
    /*#003791*/
}
.imgcontainer {
    padding-top:5px ;
    text-align: center;
}

.container{
    padding: 12px 5px;
    text-align: center;
    float: left;
}
img.avatar {
    width: 3%;
    border-radius: 50%;
    float: left
}

footer{
   width:100%;
   /*position: absolute;*/
   display: block;
   bottom: 0;
   height: 250px;
   background-color: #243753;
}
#hrr{
    border-color: #ff6200;
    border-width: 1px;
    border-style: inset;
    margin-top: 0;
    margin-bottom: 8px;
    width:90%;
}

header{
    background-color: #0D4D4D;
}

#navi {
    text-align: center;
}

#navi ul{
    widows: 80px;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0D4D4D;   
}

#navi ul li {
    display: inline-block;
}

#navi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    
}

#navi li a:hover {
    background-color: #407F7F;
}


