/*HEADING*************************************************************************/
.header_logo_container{
    width: 100%;
    height: 450px;
}
.header_cont{
    position:relative;
    width: 44%;
    display: inline-block;
    margin-left:110px;
    margin-top:100px ;
}
.main_header{
    color:white;
    display: inline-block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.content_box_text_header{
    padding-bottom:0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom:0;
    font-size: 18px;
}

#fire_container{
    position: static;
    float: right;
    height: 400px;
    margin-right: 60px;
    margin-top: 50px;
    
}
#fire_logo{
    right: 0;
    /*position: absolute;*/
    /*margin: 0 auto;*/
    width:300px;
    height:300px;
}
.button {
    display: inline-block;
    left: 68%;
    position: relative;
    padding: 7px 13px;
    border: 1px solid #000;
    border-radius: 19%;
    background: #407F7F;
    color: white;
    text-decoration: none; /*võtab maha lingi joone*/
}

.navi {
    text-align: left;
    background-color: #0D4D4D;
    margin:20px auto;
    width:90%;
    height: 55px;
}
.navi ul{
    widows: 80px;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0D4D4D;   
    width: 100%;
}
.navi ul li {
    /*display: inline-block;*/
    width: 33.3%;
    float: left;
    
}

.navi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    
}

.navi li a:hover:not(.active) {
    background-color: #407F7F;
}

.active {
    background-color: #4CAF50;
}
.navi a.button:hover {
    background-color: #4CAF50;
}
.a_text{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: bold;
}

/*CONTENTS*************************************************************************/

html{
    display: inline;
}
body{
    background-color:#152031 ;
    margin: 0;
    display: inline;
    /*#003791*/
}

#content_box{
    margin:20px auto;
    width:90%;
    height:380px;
    background-color: #243753;
}
.content_box_text_container{
    position:relative;
    width: 49%;
    display: inline-block;
    margin-left:110px;
    margin-top:70px ;
}
.left_cont{
    float:right;
    margin-right: 80px;
    margin-left: 0;
}
.content_box_header{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom:0;
    margin: 0;
}

.content_box_text{
    padding-bottom:0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom:0;
}
#world_image{
    /*position :absolute;*/
    
    margin-left: 40px;
    width: 210px;
    height:210px;
    float:right;
    margin-top:80px;
    margin-right: 70px;
}
#stat_image{
    
    margin-right: 40px;
    width: 210px;
    height:210px;
    float: left;
    margin-top:80px;
    margin-left: 110px;
}

/*CLASSES FOR MULTIPLE ELEMENTS***************************************************/



/* FOOTER  **********************************************************************/
footer{
    width:100%;
    /*position: absolute;*/
    display: block;
    bottom: 0;
    height: 250px;
    background-color: #071120;
}

#footer_fire_logo{
    width:150px;
    height:150px;
    margin:0 auto;
    margin-top: 50px;
    position: absolute;
    left:0;
    right: 0;
}
#footer_content_container{
    width:100%;
    height: 250px;
    position: absolute;
}
#footer_left_container{
    width:28%;
    height:140px;
    position: absolute;
    margin-top:40px;
    right:80px;
}
#footer_right_container{
    width:28%;
    height:140px;
    position: absolute;
    margin-top:40px;
    left:80px;
}
#footer_header{
    text-align:center;
    width:100%;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    color:#0093ff;
    font-size:20px;
    font-family:Arial Black, Gadget, sans-serif;
}
#footer_text{
    text-align:center;
    width:100%;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    color:#004cff;
    font-size:15px;
    font-family:Arial Black, Gadget, sans-serif;
}


#copyright_footer_line_container{
    width:100%;
    margin-top:210px;
    position: absolute; 
}
#footer_line{
    border-color: #ff6200;
    border-width: 1px;
    border-style: inset;
    margin-top: 0;
    margin-bottom: 8px;
    width:90%;
}
#copyright_container{
    width:40%;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
}
#copyright_text{
    margin:0 auto;
    text-align: center;
    color: antiquewhite;
}