/*HEADING*************************************************************************/

#fire_container{
    position: relative;
    width: 100%;
    height: 400px;
}

#fire_logo{
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    width:400px;
    height:500px;
}


/*CONTENTS*************************************************************************/
body{
    background-color:#152031 ;
    margin: 0;
    display: inline;
}

.button {
    display: inline-block;
    left: 68%;
    position: relative;
    padding: 7px 13px;
    border: 1px solid #000;
    border-radius: 19%;
    background: #407F7F;
    color: white;
    text-decoration: none; /*võtab maha lingi joone*/
}

.navi {
    text-align: center;
    background-color: #0D4D4D;
}

.navi ul{
    widows: 80px;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0D4D4D;   
}

.navi ul li {
    display: inline-block;
}

.navi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    
}


/*CLASSES FOR MULTIPLE ELEMENTS***************************************************/



/* FOOTER  **********************************************************************/

footer{
    width:100%;
    /*position: absolute;*/
    display: block;
    bottom: 0;
    height: 250px;
    background-color: #071120;
}

#footer_fire_logo{
    width:150px;
    height:150px;
    margin:0 auto;
    margin-top: 50px;
    position: absolute;
    left:0;
    right: 0;
}
#footer_content_container{
    width:100%;
    height: 250px;
    position: absolute;
}
#footer_left_container{
    width:28%;
    height:140px;
    position: absolute;
    margin-top:40px;
    right:80px;
}
#footer_right_container{
    width:28%;
    height:140px;
    position: absolute;
    margin-top:40px;
    left:80px;
}
#footer_header{
    text-align:center;
    width:100%;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    color:#0093ff;
    font-size:20px;
    font-family:Arial Black, Gadget, sans-serif;
}
#footer_text{
    text-align:center;
    width:100%;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    color:#004cff;
    font-size:15px;
    font-family:Arial Black, Gadget, sans-serif;
}


#copyright_footer_line_container{
    width:100%;
    margin-top:210px;
    position: absolute; 
}
#footer_line{
    border-color: #ff6200;
    border-width: 1px;
    border-style: inset;
    margin-top: 0;
    margin-bottom: 8px;
    width:90%;
}
#copyright_container{
    width:40%;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
}
#copyright_text{
    margin:0 auto;
    text-align: center;
}